/* 
.heading_h1{
    margin-left: 30px !important;
}

.data_h1, .heading_h2{
    margin-left: 60px !important;
}

.data_h2, .heading_h3{
    margin-left: 90px !important;
}

.data_h3, .heading_h4{
    margin-left: 120px !important;
}

.data_h4, .heading_h5{
    margin-left: 150px !important;
}

.data_h5, .heading_h6{
    margin-left: 180px !important;
}

.data_h6{
    margin-left: 210px !important;
}

 */

.data_h1, .heading_h1{
    background-color: brown;
}

.data_h2, .heading_h2{
    background-color: rgb(110, 165, 42);
}

.data_h3, .heading_h3{
    background-color: rgb(42, 63, 165);
}

.data_h4, .heading_h4{
    background-color: rgb(165, 159, 42);
}

.data_h5, .heading_h5{
    background-color: rgb(155, 42, 165);
}

.data_h6, .heading_h6{
    background-color: rgb(42, 165, 161);
}

/* 
.indented-wrapped-line {
    margin-left: calc(var(--indented));
    text-indent: calc(0 * var(--indented));
}

.indented-wrapped-line.cm-activeLine {
    box-shadow: calc((0 * var(--indented)) + 4px) 0 0 rgba(255, 255, 255, 0.025);
}

.indented-wrapped-line.cm-indent-markers::before {
    left: calc(var(--indented) * 0);
}
*/
